.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.media {
  height: 100px;
  width: 340px;
}

.media img {
  max-width: 120px;
}

body {
  background-color: rgb(39, 39, 39);
  color: #ffffff;
}

.navbar {
  background-color: #0136c2;
}

form button label {
  font-size: 20px;
}
